body {
  margin: 0;
}
.navbar {
  font-family: "Exo Light", Arial;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  font-size: 20px;
  color:#064f5f;
  cursor: pointer;
}
.navlink {
  grid-area: hover;
  background-color: white;
  width: 128px;
  height: 48px;
  padding-inline: 20px;
  margin-bottom: 0px;
  margin-top: 30px;
  transition: all 0.3s ease;
}
/*active state */
.navlink:hover {
  font-family: "Exo Medium", Arial;
  color:#16AE85;
}
.navHome {
  display: block;
  padding-left: 30px;
  padding-right: 70px;
  margin: 10px;
  margin-bottom: 0px;
  background: url("images/home_button.png") no-repeat;
}
.navHome .homehover {
  display: none;
}
/*active state */
.navHome:hover .homehover {
  display: inline-flex;
  background: url("images/home_button_hover.png") no-repeat;
}
/*visited state??? */
.Selected {
  display:inline-block;
  border-bottom: 2px solid #16AE85;
}
#wing_MainArea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "WingMain"
  "Lewis K Mitchell"
  "UX/UI Designer"; 
}
.wing_MainText1 {
  font-family: "Exo Light", Arial;
  color:#064f5f;
  font-size: 20px;
  text-align:left;
  margin-bottom: 0px;
}
.wing_MainText2 {
  font-family: "Exo Medium", Arial;
  margin-top: 0px;
  font-size: 20px;
  text-align:left;
  color:#F8d782;
}
.WingMain {
  display: grid;
  background-position: left;
}
.herophoto {
  width: 100%;
}
.content {
  font-family: "Exo Light", Arial;
  padding: 0 550px;
  min-width: 400px;
  background-color: white;
  color:#064f5f;
  text-align: center;
  font-size: 21px;
}
#Buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: baseline;
  justify-content: center;
  grid-template-areas: "button1" "button2";
}
.button1 {
  margin: 0;
  padding-top: 20px 250px 0 0;
  cursor: pointer;
}
.button2 {
  margin: 0;
  padding: 20px 0 0 0;
  border: 0;
  cursor: pointer;
}
.resume {
  align-items: center;
  padding: 20px 575px;
  cursor: pointer;
}
footer {
  padding-top: 100px;
  padding-bottom: 20px;
  color: #064f5f;
  text-align: center;
}
footer li {
  font-family: "Exo Medium", Arial;
  display: inline;
  padding: 0px 25px;
  font-size: 10px;
}
.preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img{
  animation: myAnimation 3s ease;
  width: 150px;

}
@keyframes myAnimation {
  0% {
    transform: rotate(0deg);
}
  50% {
  transform: rotate(360deg);
}
  100% {
    transform: rotate(720deg);
}

}
/* Media Query :) */
@media only screen and (max-width: 600px) {
  
  .navbar {
    margin: 0px auto;
    padding-left: 20px;
    font-size: 15px;
    align-items: center;
  }
  .navlink {
    padding-inline: 10px;
  }
  .navHome {
    padding-left: 20px;
    padding-right: 20px;
    transform: scale(75%);
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }}
  